Connecting to the Database

In [ ]:
#Connecting to the local databse
import pandas as pd
import sqlalchemy
import pymysql
schema="name_of_schema"
host="host_name"
user="user_name"
password="user_password"
port=3306
con = f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'

In [ ]:
#create cities table and on execution the second time append the data in the existing database
cities.dropna().to_sql('cities', con=con, if_exists='append', index=False)

In [ ]:
#create airports cities table and on execution the second time append the data in the existing database
airports_cities.dropna().to_sql('airports_cities', if_exists='append', con=con, index=False)

In [ ]:
#create weather table and on execution the second time append the data in the existing database
weather_result.assign(datetime = lambda x: pd.to_datetime(x['datetime'])).to_sql('weather', if_exists='append', con=con, index=False)

In [ ]:
#create arrivals table and on execution the second time append the data in the existing database
import numpy as np
(
arrivals_DE
    .replace({np.nan},'unknown')
    .assign(sched_arr_loc_time = lambda x: pd.to_datetime(x['sched_arr_loc_time']))
    .to_sql('arrivals', if_exists='append', con=con, index=False))

In [ ]:
#create sundata table and on execution the second time append the data in the existing database
DE_Sundata.dropna().to_sql('sundata', if_exists='append', con=con, index=False)